<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestSuite1" parallel="false">
    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  	</listeners>
   	<test name="Test1">
    	<classes>
    		<class name="org.roommanager.test.admin.emailserver.RemoveEmailServer" />
	      	<class name="org.roommanager.test.admin.emailserver.RegisterEmailServer" />
	      	<class name="org.roommanager.test.admin.impersonation.EnableImpersonation" />
    	</classes>
  	</test>
</suite>